<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8'/>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>Relocate</title>
    <link rel='preload' href='/res/images/edge.png' as='image'>
    <link rel='preload' href='/res/images/uvic-logo.png' as='image'>
  </head>
  <body>
    <div id='root'></div>
    <noscript>
      You need scripts enabled to run this Leaflet application
    </noscript>
    <% if (htmlWebpackPlugin.files.sprites) { %>
      <% for (var spriteFileName in htmlWebpackPlugin.files.sprites) { %>
        <%= htmlWebpackPlugin.files.sprites[spriteFileName] %>
      <% } %>
    <% } %>
  </body>
</html>
