:root {
  --map-background: rgb(158, 208, 228);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow: hidden;
  font-size: 14px;
  font-family: sans-serif;
}
#root {
  display: flex;
}
main, #map {
  height: 100vh;
}
main {
  flex: 1;
  position: relative;
}
#map {
  background: var(--map-background);
}
a {
  text-decoration: none;
  border-bottom: 1px dashed grey;
  color: #333;
}
a:hover {
  color: grey;
}
.elevator img {
  margin-top: 8px;
  width: 14px;
}
.hidden {
  display: none !important;
}
.tag {
  padding: 4px 6px;
  text-transform:  uppercase;
  font-size: x-small;
  font-weight: bold;
  display: inline-block;
  background-color: rgb(189, 188, 255);
  border-radius: 2px;
}
pre {
  font-size: 10px;
  overflow-x: hidden;
}
