#shade {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  z-index: 1010; /* leaflet's max z-index is 1000 */
  background-color: rgba(0,0,0,0.3);
  opacity: 0;
  transition: opacity 0.25s;
  overflow-y: auto;
}
#shade.active {
  display: block;
}
#modal {
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  background: #fff;
  border-radius: 2px;
}
#modal > * {
  margin-bottom: 15px;
}
.cols {
  display: flex;
  justify-content: space-between;
}
.col {
  padding-right: 40px;
  flex: 1;
}
.row {
  margin-bottom: 15px;
}
.row h3 {
  margin-bottom: 5px;
}
