.keyboard {
  background-color: #1f4469;
  font-size: 18px;
  width: 300px;
  padding: 10px;
}
.keyboard.uppercase {
  text-transform: uppercase;
}
.keyboard div {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}
kbd {
  background-color: white;
  font-family: 'Ubuntu', sans-serif;
  display: inline-block;
  text-align: center;
  width: 10%;
  height: 35px;
  border: 0.5px dotted darkgrey;
  border-bottom: 3px solid darkgrey;
  padding: 5px;
  user-select: none;
}
kbd:hover {
  background-color: #dbdbdb;
}
